@page "/test"
@using Website.Data
@inject PaymentGatewayService PaymentGatewayService

<PageTitle>TestPaymentGateway</PageTitle>

<h3>TestPaymentGateway</h3>

<input type="number" @bind="index" />
<button class="btn btn-primary" @onclick="Test">Test</button>

<p>Name: @Name</p>

@code {
	private string? index;
	private string Name = "";

	private async Task Test()
	{
		Name = "";
		var isNumber = int.TryParse(index, out int value);
		if (isNumber)
		{
			Name = await PaymentGatewayService.TestGet(value);
		}
	}
}
